.container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.left {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-size: 4.5rem;
    margin-bottom: 25px;
}

.left h3 {
    margin-bottom: 30px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #e0e0e0;
    font-size: 16px;
}

.btn {
    padding: 12px;
    background-color: #4ba7c9;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.right {
    flex: 1;
    background-color: #4ba7c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo-container h2 {
    margin-top: 10px;
    color: #333;
}

.logo {
    width: 500px;
    height: auto;
    border-radius: 50%;
}