<div class="content">
    <h2>Métodos de Pago</h2>
    <div class="payment-method">
        <span> •••• •••• 4589 </span>
        <span class="method-details">Visa - Vigencia: 05-2027</span>
        <button class="delete-btn">Eliminar</button>
    </div>
    <div class="payment-method">
        <span> •••• •••• 4356 </span>
        <span class="method-details">Mastercard - Vigencia: 02-2029</span>
        <button class="delete-btn">Eliminar</button>
    </div>
    <button class="add-btn">+ Agregar Método de Pago</button>
</div>