<login>
    <div class="container">
        <div class="left">
            <div class="logo-container">
                <img src="/AerolineaFront/assets/logo-aircloud-title.png" alt="Logo AirCloud" class="logo" />
            </div>
        </div>
        <div class="right">
            <h1>¡Inicia Sesión!</h1>
            <input type="email" placeholder="Email" class="input" />
            
            <div class="password-container">
                <input type="password" placeholder="Contraseña" class="input password" id="password"/>
                <span class="toggle-password" id="togglePassword">👁️</span>
            </div>
            <button class="btn">Acceder</button>
        </div>
    </div>
</login>