<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscar Vuelos</title>
  <link rel="stylesheet" href="./searchFlights.component.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Vuelos Hermosillo a Ciudad de México</h1>
      <p class="fecha">07 / 08 / 2025</p>
      <button class="btn-modificar">Modificar tu Vuelo</button>
    </header>

    <section class="vuelos">
      <div class="vuelo">
        <div class="info-vuelo">
          <p class="duracion">1h 25min</p>
          <div class="icono-avion">
            <img src="/AerolineaFront/assets/avionDespegando.svg" alt="Avión despegando" width="30" height="30" />
          </div>
          <div class="linea-tiempo">
            <span class="hora hora-salida">9:10 AM</span>
            <div class="linea-con-puntos"></div>
            <span class="hora hora-llegada">11:35 AM</span>
          </div>
        </div>
        <div class="precio">
          <p>$2720 <span class="moneda">MXN</span></p>
        </div>
      </div>

      <div class="vuelo">
        <div class="info-vuelo">
          <p class="duracion">1h 25min</p>
          <div class="icono-avion">
            <img src="/AerolineaFront/assets/avionDespegando.svg" alt="Avión despegando" width="30" height="30" />
          </div>
          <div class="linea-tiempo">
            <span class="hora hora-salida">9:10 AM</span>
            <div class="linea-con-puntos"></div>
            <span class="hora hora-llegada">11:35 AM</span>
          </div>
        </div>
        <div class="precio">
          <p>$2720 <span class="moneda">MXN</span></p>
        </div>
      </div>

      <div class="vuelo">
        <div class="info-vuelo">
          <p class="duracion">1h 25min</p>
          <div class="icono-avion">
            <img src="/AerolineaFront/assets/avionDespegando.svg" alt="Avión despegando" width="30" height="30" />
          </div>
          <div class="linea-tiempo">
            <span class="hora hora-salida">9:10 AM</span>
            <div class="linea-con-puntos"></div>
            <span class="hora hora-llegada">11:35 AM</span>
          </div>
        </div>
        <div class="precio">
          <p>$2720 <span class="moneda">MXN</span></p>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
