<div class="container">
    <h2>Registrar Aeropuerto</h2>
    <form id="formCrearAeropuerto">
        <input class="input" type="text" name="nombre" placeholder="Nombre del Aeropuerto" required>
        <input class="input" type="text" name="codigo" placeholder="Código (ej. MEX)" required>
        <input class="input" type="text" name="ciudad" placeholder="Ciudad" required>
        <input class="input" type="text" name="pais" placeholder="País" required>
        <button class="btn" type="submit">Guardar</button>
    </form>
</div>
