<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Gestión</title>
  <link rel="stylesheet" href="./adminpage.component.css" />
</head>
<body>
  <div class="container">
    <div class="btn">Gestionar<br>Aeropuertos</div>
    <div class="btn">Gestionar<br>Aerolíneas</div>
    <div class="btn">Gestionar<br>Vuelos</div>
    <div class="btn">Gestionar<br>Usuarios</div>
  </div>
</body>
</html>
